.PropertyListItem {
    display: flex;
    flex-flow: row;
    position: relative;
    margin-top: 12px;
}

.image {
    width: 150px;
    height: 126px;
    object-fit: cover;
    border: 1px solid #d9dfd2;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: stretch;
}

.badge {
    color: #e40000;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 10px;
    position: absolute;
    left: 1px;
    top: 6px;
}

.offerHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: 500;
    max-width: 16em;
    margin: 5px 10px 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #dbdcdd;
    position: absolute;
    top: -6px;
}

.address {
    color: #8c8d8e;
    font-size: 12px;
}


.offerDetails {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    margin-top: 10px;
}

.offerLabels {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
}
.offerPricing {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;
}

.offerPrefix {
    font-size: 11px;
}

.offerPrice {
    font-size: 28px;
    font-weight: 500;
}

.offerSavings {
    font-size: 16px;
    color: #e40000;
}

.currencySymbol {
    font-size: 0.6em;
    font-weight: 400;
    vertical-align: text-top;
    display: inline-block;
    margin-top: 0.25em;
}

.offerTitle {
    color: #e40000;
    font-size: 12px;
    text-decoration: underline;
}

.cancellationOption {
    color: #598d78;
    font-size: 12px;
}
